extends ../layout

block content
    h1 Detail
    div Name: #{user.name}
    div Username: #{user.username}
    div Email: #{user.email}
    div Role: #{user.role}
    div Birthday: #{user.birthday}
